<h2>Editing the Topic: <%= @topic.title %></h2>

<% form_for @topic, :action => url(:forum_topic, :forum_id => @forum, :id => @topic) do %>
  <p><%= text_control :title, :label => "Title" %></p>
  <p><%= submit_button "Submit" %></p>
<% end %>

